{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row m-3">
    <div class="col-lg-6">
        <form method="POST">
            {{ form.errors }}

            {% csrf_token %}
            <div class="form-group">
                <label for="id_bill_no">Bill no:</label>
                <input class="form-control" type="text" name="bill_no" maxlength="100" id="id_bill_no">
            </div>

            <div class="form-group">
                <label for="id_crop">Crop name:</label>
                <select class="form-control" name="crop" id="id_crop">
                    <option value="" selected>---------</option>
                    {% for crop in crops %}
                    <option value="{{crop.id}}">{{crop.name}}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="form-group">
                <label for="id_product">Product name:</label>
                <select class="form-control" onchange="getProductDetails()" name="product" id="id_product">
                    <option value="" selected>---------</option>
                    {% for product in products %}
                    <option value="{{product.id}}">{{product.code}}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="form-group">
                <label>Product Name</label>
                <input class="form-control" id="hidden_product_name" disabled>
            </div>

            <div class="form-group">
                <label>Stock Available</label>
                <input class="form-control" id="hidden_product_stock" disabled>
            </div>

            <div class="form-group">
                <label>Quantity Used</label>
                <input class="form-control qty" type="number" name="qty_used" step="any" value="0" id="id_qty_used"/>


            </div>


            <div class="form-group">
                <label>Used for:</label>
                <div id="id_used_for">
                    <div>
                        <label for="id_used_for_0"><input type="radio" name="used_for" value="Spray" maxlength="50"
                                                          id="id_used_for_0">Spray</label>
                    </div>
                    <div>
                        <label for="id_used_for_1"><input type="radio" name="used_for" value="Drip" maxlength="50"
                                                          id="id_used_for_1">Drip</label>
                    </div>
                    <div>
                        <label for="id_used_for_2"><input type="radio" name="used_for" value="Spray &amp; Drip"
                                                          maxlength="50" id="id_used_for_2">Spray and Drip</label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="id_payment_date">Payment date:</label>
                <input class="form-control" type="date" name="payment_date" value="" required id="id_payment_date"><input type="hidden"
                                                                                                     name="initial-payment_date"
                                                                                                     value="2022-02-05 13:33:52"
                                                                                                     id="initial-id_payment_date">
            </div>



             <div class="form-group">
                 <label for="id_male_labour_used">Male labour used:</label>
                 <input class="form-control labour-count" type="number" name="male_labour_used" value="0" required id="id_male_labour_used">
             </div>


            <div class="form-group">
                <label for="id_female_labour_used">Female labour used:</label>
                <input class="form-control labour-count" type="number" name="female_labour_used" value="0" required id="id_female_labour_used">
            </div>


            <div class="form-group">
                <label for="id_labour_amount">Labour amount:</label>
                <input class="form-control amount_paid" type="number" name="labour_amount" value="0" step="any" required
                       id="id_labour_amount">
            </div>

            <div class="form-group">
                <label for="id_petrol_amount">Petrol amount:</label>
                <input class="form-control amount_paid" type="number" name="petrol_amount" value="0" step="any" required
                       id="id_petrol_amount">
            </div>


            <div class="form-group">
                <label for="id_diesel_amount">Diesel amount:</label>
                <input class="form-control amount_paid" type="number" name="diesel_amount" value="0" step="any" required
                       id="id_diesel_amount">
            </div>

            <div class="form-group">
                <label for="id_total_amount">Total amount:</label>
                <input class="form-control" type="number" name="total_amount" value="0" step="any" required id="id_total_amount" >
            </div>

            <div class="form-group">
                <label for="id_remarks">Remarks:</label>
                <textarea class="form-control" name="remarks" cols="40" rows="10" id="id_remarks">
    </textarea>

            </div>

            <input class="form-control btn btn-primary" type="submit" value="submit">
        </form>
    </div>
</div>





<script>

console.log("js")
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2)
        month = '0' + month;
    if (day.length < 2)
        day = '0' + day;

    return [year, month, day].join('-');
}

date = formatDate(new Date());
document.getElementById("id_payment_date").value = date;

// Calculate Total
function setTotal(){

    var sum = 0;
    $(".amount_paid").each(function(){
        sum += +$(this).val();
    });
    console.log(sum);
    $("#id_total_amount").val(sum);

}

// Calculate Labour Amount
function setLabourAmount(){
    var female_labour_count = $('#id_female_labour_used').val();
    var male_labour_count = $('#id_male_labour_used').val();
    var amount = (200*male_labour_count)+(250*female_labour_count);
    $('#id_labour_amount').val(amount);

}

// calculate total
$(document).on("change", ".amount_paid", function() {
    setTotal();
});

function getProductDetails()
    {
        var product_id = document.getElementById("id_product").value;
        product_id = parseInt(product_id);
        {% for product in products %}
        if ({{ product.id}}==product_id)
        {
            var product_name = document.getElementById("hidden_product_name");
            var stock_value = document.getElementById("hidden_product_stock");
            product_name.value = "{{product.name}}";
            if("{{product.type}}"=="L")
            {
            stock_value.value = "{{product.volume}}"+"ml";
            }

            else{
            stock_value.value = "{{product.volume}}"+"gm";
            }
        }
        {% endfor %}
    }

// check Item available in stock
$(document).on("change", ".qty", function() {
    console.log("Qty value changes");
    stock = document.getElementById("hidden_product_stock").value;
    len = stock.length-2;
    stock = parseInt(stock.substr(0, len));
    qtyUsed = document.getElementById("id_qty_used");
    console.log(qtyUsed.value);
    if(stock<qtyUsed.value)
    {
    alert("Not available in stock");
    qtyUsed.value=0;

    }

});

$(document).on("change", ".labour-count", function(){
    setLabourAmount();
    setTotal();
});


</script>

{% endblock %}