
{% extends 'base.html' %}

{% block content %}
<div class="m-3">
<input class="form-control" id="myInput" type="text" placeholder="Search..">
</div>

    <table class="mt-3 table table-responsive-md">
        <thead>
        <tr>
           <th>Crop name</th>
        <th>Crop area</th>
        <th>Start date</th>
        <th>End date</th>


        </tr>
        </thead>
        <tbody id="productsTable">
       {% for crop in crops %}
        <tr>
            <td><a href="{% url 'farm:expenses' crop.id %}">{{ crop.crop_name }} </a></td>
      <td> {{ crop.crop_area }} Acre</td>
      <td> {{ crop.start_date }}</td>
      <td> {{ crop.end_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
  <li class="page-item"><a  class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item"><p class="page-link">{{ page_obj.number }} /{{ page_obj.paginator.num_pages }}</p></li>

    {% if page_obj.has_next %}

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        {% endif %}


</ul>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#productsTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


{% endblock %}