{% extends 'base.html' %}

{% block content %}
<div class="m-3">
<input class="form-control" id="myInput" type="text" placeholder="Search..">
</div>

<table class="table table-responsive-lg  table-striped">
    <thead>
    <tr>
        <th >Bill No</th>
        <th >Payment Date</th>
        <th >Supervisor</th>
        <th>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    Crop
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'farm:payments' %}">All</a>
                    {% for crop in crops %}
                    <li><a class="dropdown-item" href="{% url 'farm:filter_payments_from_crop' crop.id %}">{{crop.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </th>
        <th >Product</th>
        <th >Quantity Used</th>
        <th >Product Used For</th>
        <th >Labour Used</th>
        <th >Labour Paid amount</th>
        <th >Petrol Amount</th>
        <th >Diesel Amount</th>
        <th >Total Amount</th>
        <th >Remarks</th>

    </tr>
    </thead>
    <tbody id="paymentTable">
    {% for payment in payments %}
    <tr>
        <td><a href="{% url 'farm:update_payment' payment.bill_no %}"> {{ payment.bill_no }} </a></td>
        <td> {{ payment.payment_date }}</td>
        <td> {{payment.user }}</td>
        <td> {{payment.crop }}</td>
        <td> {{payment.product }}</td>
        {% if payment.product.type == "L" %}
        <td> {{payment.qty_used }} ml</td>
        {% else %}
        <td> {{payment.qty_used }} gm</td>
        {% endif %}
        <td> {{payment.used_for }}</td>
        <td> {{payment.labour_used }}</td>
        <td> {{payment.labour_amount }}</td>
        <td> {{payment.petrol_amount }}</td>
        <td> {{payment.diesel_amount }}</td>
        <td> {{payment.total_amount }}</td>
        <td>{{ payment.remarks}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#paymentTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


{% endblock %}