{% extends 'base.html' %}

{% block content %}
<div class="m-3">
<input class="form-control" id="myInput" type="text" placeholder="Search..">
</div>

    <table class="mt-3 table table-responsive-md">
        <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Product Type</th>
            <th>Product Category</th>
            <th>Volume Available</th>
            <th>Date</th>
            <th>Price</th>



        </tr>
        </thead>
        <tbody id="productsTable">
        {% for product in page_obj %}
        <tr>
            <td><a href="{% url 'farm:product_details' product.id %}"> {{ product.id }} </a></td>
            <td> {{ product.product_code }}</td>
            <td> {{ product.product_name }}</td>
            {% if product.product_ == "S" %}
            <td>Solid</td>
            {% elif product.product_type == "P" %}
            <td>Powder</td>
            {% else %}
            <td>Liquid</td>
            {% endif %}

            <td> {{ product.product_category }}</td>

            <td> {{ product.volume }}
                {% if product.product_type == "L" %}ml
                {% else %}
                gram
                {% endif %}</td>

            <td> {{ product.created_at }}</td>
            <td> {{ product.price }} Rs.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
  <li class="page-item"><a  class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item"><p class="page-link">{{ page_obj.number }} /{{ page_obj.paginator.num_pages }}</p></li>

    {% if page_obj.has_next %}

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        {% endif %}


</ul>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#productsTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


{% endblock %}